<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="container mx-auto">
            <a href="/">Lego Collection</a>
            <a class="active" href="/about">About</a>
            <details>
                <summary>Theme</summary>
                <a href="/lego/sets?theme=tech">Technic</a>
                <a href="/lego/sets?theme=town">Town</a>
                <a href="/lego/sets?theme=space">Space</a>
            </details>
        </div>
    </nav>
    <div class="container mx-auto">
        <div class="hero">
            <h1>About</h1>
            <p>All about me</p>
        </div>
        <div class="grid">
            <div class="column">
                <p>I am a student at Seneca College in CPP program.</p>
            </div>
        </div>
    </div>
</body>
</html>
